In [1]:
import numpy as np

In [28]:
a = np.array([1,2,3], dtype='int32')
print(a)

[1 2 3]

In [10]:
b = np.array([[9.0,8.0,7.0], [6.0,5.0,4.0]])
print(b)

[[9. 8. 7.]
 [6. 5. 4.]]

In [12]:
#get dimension
b.ndim

2

In [14]:
#get shape
a.shape

(3,)

In [23]:
#get type
b.dtype

dtype('float64')

In [29]:
#get size
a.itemsize

4

In [31]:
#get total size
a.nbytes

12

In [69]:
a = np.array([[1,2,3,4,5,6,7], [8,9,10,11,12,13,14]])
print(a)

[[ 1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14]]

In [33]:
#get a specific element [r,c]
a[1,5]

13

In [34]:
#get a specific row
a[0,:]

array([1, 2, 3, 4, 5, 6, 7])

In [35]:
#get a specific column
a[:, 2]

array([ 3, 10])

### getting a little more fancy [startindex: endindex : stepsize]

In [40]:
a[0, 1:6:2]

array([2, 4, 6])

In [45]:
#change the value inside the array
a[1,5] = 20
print(a)

a[:, 2] = [1,2]
print(a)

[[ 1  2  5  4  5  6  7]
 [ 8  9  5 11 12 20 14]]
[[ 1  2  1  4  5  6  7]
 [ 8  9  2 11 12 20 14]]

In [52]:
b = np.array([[[1,2],[3,4]], [[5,6],[7,8]]])

In [53]:
print(b)

[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

In [55]:
#get specific element(work outside in)
b[0,1,1]

4

In [59]:
#replace
b[:,1,:] = [[9,9],[8,8]]

In [60]:
b

array([[[1, 2],
        [9, 9]],

       [[5, 6],
        [8, 8]]])

# initializing different type of Array

In [64]:
#all 0s matrix
np.zeros((2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [65]:
#all 1s matrix
np.ones((4,2,2),dtype='int32')

array([[[1, 1],
        [1, 1]],

       [[1, 1],
        [1, 1]],

       [[1, 1],
        [1, 1]],

       [[1, 1],
        [1, 1]]])

In [68]:
#any other number 
np.full((2,2), 99, dtype='float32')

array([[99., 99.],
       [99., 99.]], dtype=float32)

In [71]:
#any other number(full_like)
np.full_like(a,4)

array([[4, 4, 4, 4, 4, 4, 4],
       [4, 4, 4, 4, 4, 4, 4]])

In [76]:
#random decimal numbers
np.random.rand(4,2)

array([[0.80411789, 0.02605252],
       [0.70822519, 0.65110254],
       [0.68619654, 0.42813723],
       [0.28665364, 0.72404544]])

In [83]:
#random integer values
np.random.randint(100,102, size=(3,3))

array([[101, 101, 101],
       [100, 100, 100],
       [101, 100, 100]])

In [87]:
#the identity matrix
np.identity(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [94]:
#repeat an array
arr = np.array([[1,2,3]])
r1 = np.repeat(arr,2,axis=0)
print(r1)

[[1 2 3]
 [1 2 3]]

In [96]:
output = np.ones((5,5))

In [97]:
z = np.zeros((3,3))

In [98]:
z[1,1] = 9

In [99]:
output[1:4, 1:4] = z

In [100]:
print(output)

[[1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 9. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1.]]

Be careful when copying arrays

In [106]:
#cant directly assign array , must use .copy() to assign new variable
a = np.array([1,2,3])
b = a.copy()
b[0] = 100
print(a)

[1 2 3]

# Mathematics

In [107]:

a = np.array([1,2,3,4])
print(a)

[1 2 3 4]

In [108]:
a+ 1

array([2, 3, 4, 5])

In [109]:
A* 2

NameError: name 'A' is not defined

In [110]:
a * 2

array([2, 4, 6, 8])

In [111]:
b = np.array([1,0,1,0])
a + b

array([2, 2, 4, 4])

In [112]:
a ** 2

array([ 1,  4,  9, 16], dtype=int32)

In [117]:
# take the sine ,cosine
np.cos(a)

array([ 0.54030231, -0.41614684, -0.9899925 , -0.65364362])

## Linear Algebra

In [121]:
a = np.ones((2,3))
print(a)

b = np.full((3,2), 2)
print(b)

np.matmul(a,b)

[[1. 1. 1.]
 [1. 1. 1.]]
[[2 2]
 [2 2]
 [2 2]]

array([[6., 6.],
       [6., 6.]])

In [123]:
#find the determinant
c = np.identity(3)
np.linalg.det(c)

1.0

Statistics

In [126]:
stats = np.array([[1,2,3],[4,5,6]])
stats

array([[1, 2, 3],
       [4, 5, 6]])

In [133]:
#minimum in the row of array
np.min(stats, axis=1)

##minimum in the columns of array
#np.min(stats, axis=0)

array([1, 4])

In [132]:
#maximum in the row
np.max(stats, axis=1)

array([3, 6])

In [135]:
#sum of the array
np.max(stats , axis=0)

array([4, 5, 6])

# Reorganizing Arrays

In [138]:
before = np.array([[1,2,3,4],[5,6,7,8]])
print(before)

after = before.reshape((4,2))
print(after)

[[1 2 3 4]
 [5 6 7 8]]
[[1 2]
 [3 4]
 [5 6]
 [7 8]]

### Vertically stacking vectors

In [140]:
v1 = np.array([1,2,3,4])
v2 = np.array([5,6,7,8])

np.vstack([v1,v2,v1,v2])

array([[1, 2, 3, 4],
       [5, 6, 7, 8],
       [1, 2, 3, 4],
       [5, 6, 7, 8]])

### Horizontally stacks

In [141]:
h1 = np.ones((2,4))
h2 = np.zeros((2,2))

np.hstack([h1,h2])

array([[1., 1., 1., 1., 0., 0.],
       [1., 1., 1., 1., 0., 0.]])

# Miscellaneous

### Load Data from File

In [148]:
filedata = np.genfromtxt('test.txt', delimiter=',')
filedata = filedata.astype('int32')
print(filedata)

[[  1  13  21  11 196  75   4   3  34   6   7   8   0   1   2   3   4   5]
 [  3  42  12  33 766  75   4  55   6   4   3   4   5   6   7   0  11  12]
 [  1  22  33  11 999  11   2   1  78   0   1   2   9   8   7   1  76  88]]

### Boolean masking and Advanced Indexing

In [150]:
#search all greater than 50 inside the array
filedata[filedata > 50]

array([196,  75, 766,  75,  55, 999,  78,  76,  88])

In [151]:
# you can index with a list in Numpy
a = np.array([1,2,3,4,5,6,7,8,9])
a[[1,2,8]]

array([2, 3, 9])

In [152]:
np.any(filedata > 50, axis=0)

array([False, False, False, False,  True,  True, False,  True,  True,
       False, False, False, False, False, False, False,  True,  True])

In [153]:
np.all(filedata > 50, axis=0)

array([False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False])

In [159]:
(~(filedata >50) & (filedata <100))

array([[ True,  True,  True,  True, False, False,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True, False, False,  True, False,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True, False,  True,  True,  True, False,
         True,  True,  True,  True,  True,  True,  True, False, False]])

In [160]:
test = np.array([[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15],[16,17,18,19,20],[21,22,23,24,25],[26,27,28,29,30]])

In [161]:
test[2:4, 0:2]

array([[11, 12],
       [16, 17]])

In [162]:
test[[0,1,2,3],[1,2,3,4]]

array([ 2,  8, 14, 20])

In [164]:
test[[0,4,5],3:]

array([[ 4,  5],
       [24, 25],
       [29, 30]])